body {
    margin:0 
}
pre {
    white-space: pre;
    width: 100%;
    padding: 5px;
    font-size: 9pt;
}
label {
    color: rgb(229, 255, 0);
    padding-left: 5px;
    text-decoration: underline;
}
body {
    margin: 10px;
}
button {
    margin: 10px;
}
.wrapper {
    background-color: #fff;
    color: #444;
    display: flex;
    max-width: 100%;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    /*padding: 20px;*/
    box-sizing: border-box;
    flex: 1 1 auto;
    overflow-x: hidden;
}
.box:nth-of-type(2) > div {
    margin: 0 auto;
}
.handler {
    width: 20px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
}
.handler::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: red;
    margin: 0 auto;
}
#exportButtons {
    text-align: right;
}