[id^=People] > * {
    fill: cyan !important;
}

[id^=Agility] > * {
    fill: rgb(255, 238, 0) !important;
}

[id^=Tools] > * {
    fill: rgb(212, 0, 255) !important;
}

[id^=Practices] > * {
    fill: rgb(51, 255, 0) !important;
}

[id^=Milestone] > * {
    fill: rgb(255, 38, 0) !important;
}

[id$=Stream] > * {
    transform: scale(0.75);
}